body {
    background-image: url("stone_wall.jpg");
}

h1 {
    padding: 80px;
    text-align: center;
    background-position: center;
    background-image: url(title_sign.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.slide {
    width: 95%;
    border: 50px solid transparent;
    border-image: url(wood_picture_frame.png) 12% round;
}

.slide-picture {
    width: 100%;
}